@charset "UTF-8";

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1e402f;
}

h1#principal {
    text-align: center;
    background-color: #3c805e9a;
    color: white;
}

h2 {
    color: rgb(66, 160, 63);
}
.basico {
    color: #3c805e;
    font-weight: bolder;
}
.intermediario {
    color: #80793c;
    font-weight: bolder;
}
.avançado {
    color: #803c3c;
    font-weight: bolder;
}
.destaque {
    background-color: #c1b22968;
}